@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.CTA {
  background-image: url(../assets/Backgrounds/CTABackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Denah {
  background-image: url(../assets/Backgrounds/DenahBackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.FAQ {
  background-image: url(../assets/Backgrounds/FAQBackground.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.GetApp {
  background-image: url(../assets/Backgrounds/AppButtonBackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Footer {
  background-image: url(../assets/Backgrounds/FooterBackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Membaca {
  background: url("../assets/Backgrounds/DashboardMembaca.png");
  object-fit: cover;
  background-size: cover;
}
.Meminjam {
  background: url("../assets/Backgrounds/DashboardMeminjam.png");
  object-fit: cover;
  background-size: cover;
}
.Lainnya {
  background: url("../assets/Backgrounds/DashboardLainnya.png");
  object-fit: cover;
  background-size: cover;
}

.Login {
  background: url("../assets/Backgrounds/LoginBackground.png");
  object-fit: cover;
  background-size: cover;
}

.profileMenu {
  background: url("../assets/Backgrounds/ProfileMenuBackground.png");
  object-fit: cover;
  background-size: cover;
}

.Absen {
  background: url("../assets/Backgrounds/ProfileMenuBackground.png");
  object-fit: cover;
  background-size: cover;
}

.title-bg {
  background: url("../assets/Backgrounds/TItleBackground.png");
  object-fit: contain;
}

::-webkit-scrollbar {
  display: none;
}
